@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* border: 2px solid red; */
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.poppins-400 {
    font-family: 'Poppins',
        sans-serif;
}

.poppins-700 {
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -12px;
    margin-left: -12px;

}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.align-content {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

.align-item-center {
    align-items: center;
}



.lorem {
    color: #000;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 150%;
}

.pt-21 {
    padding-top: 21px;
}

.pt-12 {
    padding-top: 12px;

}

.date {
    color: #666666;
    font-size: 16px;
    font-family: Poppins;
    line-height: 150%;
}

.pl-8 {
    padding-left: 8px;
}

.card {
    border: solid 1px #CCCCCC;
    border-radius: 30px;
    background: #FFF;
    padding: 36px;
}

.card:hover {
    border-color: transparent;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}

.check {
    background: #2C49FE;
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}



.go {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 150%;
}

.pt-43 {
    margin: 43px;
}

.pt-32 {
    margin-top: 32px;

}

.direction {
    flex-direction: row;
}

.justify-content-sapce {
    justify-content: space-evenly;
}


.pt-30 {
    padding-top: 30px;
}

.pt-30 {
    padding-top: 30px;

}

.home {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.event {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;

}

.feed {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
}

.name {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
}

.user {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
}

.head {

    background-image: url(/assets/image/Rectangle56\(1\).png );
    background-repeat: no-repeat;
    background-size: cover;

}

.out {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}

.pr-56 {
    padding-right: 56px;
    padding-top: 46px;
}



.pr-64 {
    padding-right: 64px;
}

.pr-60 {
    padding-right: 60px;
}

.bg {
    border-radius: 23px;
    background: #2C49FE;
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    margin-top: -9px;
    border: none;
}

.pt-17 {
    padding-top: 17px;
}

.pl-515 {
    padding-left: 415px;
}

.pt-30 {
    padding-top: 38px;
}

.mets {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    line-height: 150%;

}

.pt-131 {
    padding-top: 131px;

}

.ml-64 {
    margin-left: 60px;
}

.ml-300 {
    margin-left: 300px;
}

.vents {
    color: #FFF;
    font-size: 64px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 150%;
}

.justify-content-center {
    justify-content: center;
}

.ml-415 {
    margin-left: 415px;
}

.set {
    width: 1320px;
    height: 66px;
    flex-shrink: 0;
}

.mt-13 {
    margin-top: 13px;
}

.line {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 73px;

}

.your {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
}

.footer {

    padding-top: 80px;
    padding-bottom: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);

}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.free {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(44, 73, 254, 1);
}

.first {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(1, 200, 255, 1);

}

.para {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: white;
    max-width: 300px;
}

.pl-15 {
    padding-left: 15px;
}

.w-100 {
    max-width: 100%;
}

.pt-14 {
    padding-left: 14px;
}

.p-showmore {

    align-items: center;
    color: #FFF;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 12px;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.backgound-blue {
    background-color: rgba(45, 60, 174, 0.53);
}


.pl-81 {
    padding-left: 81px;
}

.pt-24 {
    padding-top: 60px;
}

.pt-36 {
    padding-top: 36px;
}

.pt-81 {
    padding-top: 81px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.colr {
    color: #FFF;
}

.size {
    font-family: 'Poppins', sans-serif;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.font {
    font-family: 'Poppins',
        sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.margin-top {
    margin-top: 126px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.gallery {
    color: #FFF;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-right: 12px;
    padding-left: 12px
}

.justify-content-between {
    justify-content: center;
}



.justify-content1 {
    justify-content: space-between;
}

.last-line {
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFF;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 0;

}

.more {
    color: #FFF;
    background-color: rgba(45, 60, 174, 0.53);
    min-height: 62px;
    width: 100%;
    height: 73px;

}



.owhs {
    color: #FFF;

    font-size: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 15px 24px;
}

.pt-10 {
    padding-top: 10px;
}



.bottom {
    margin-bottom: 155px;
}

.margin-24 {
    margin-bottom: 24px;

}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.pl-74 {
    padding-left: 74px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;


}
.pt-18{
    padding-top: 18px;
}
.gap-60 {
    gap: 60px;
}

.w-100 {
    width: 100%;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width:992px) {
    label[for="iconbox"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 1;

    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 5px;
        color: rgba(1, 200, 255, 1);
    }

    ul.menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: black;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        transition: all 200ms linear;

    }

    input[type="checkbox"]:checked+ul.menubar {
        left: 0;
        opacity: 1;
        pointer-events: all;
    }

    .first {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(1, 200, 255, 1);


    }

    .free {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(44, 73, 254, 1);
    }
}

@media (min-width:576px) {
    .last-line {
        font-family: 'Poppins',
            sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        color: #FFF;
        text-align: center;
        padding-top: 155px;

    }

    .footer {

        padding-top: 80px;
        padding-bottom: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);

    }


    .col_sm_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .pl-74 {
        padding-left: 74px;
    }

    .pl-lg-0 {
        padding-left: 0px;
    }
.pt-18 {
    padding-top: 0;
}


}

@media (min-width:768px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }


    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .pl-lg-0 {
        padding-left: 0px;
    }

}

@media (min-width:992px) {}

@media (min-width:1200px) {}

@media (min-width:1440px) {}